#container {
  position: relative;
}
#item {
  position: absolute;
  border-bottom: 10px solid #707070;
  border-radius: 5px;
  height:50px;
  width:230px;
}
#item:active {
  background-color: rgba(168, 218, 220, 1);
}
#item:hover {
  cursor: move;
}

#divForm {
  float: left;
}
#divMenu {
  float: right;
}
.overflow {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}