#container {
  position: relative;
}
#item {
  position: absolute;
  border-bottom: 20px solid red;
  border-radius: 5px;
  height:100px;
  width:220px;
}
#item:active {
  background-color: rgba(168, 218, 220, 1);
}
#item:hover {
  cursor: move;
}

#divForm {
  float: left;
}
#divMenu {
  float: right;
}

.modal-overflow{
  overflow:hidden;
  overflow-x: hidden;
  overflow-y: hidden;
} 
