
#item {
  
  border-bottom: 20px solid red;
  border-radius: 5px;
  touch-action: none;
  user-select: none;
}
#item:active {
  background-color: rgba(168, 218, 220, 1);
}
#item:hover {
  cursor: move;
}


