#container {
  width: 250px;
  height: 100px;
  background-color: white;
  border: 1px solid rgba(136, 136, 136, 0.5);
  border-radius: 2%;
}

#container div {
  float: left;
  clear: none;
}

#container:active {
  background-color: rgba(168, 218, 220, 1);
}
#container:hover {
  cursor: pointer;
  border-width: 5px;
}
