
#container {
  width: 200px;
  height: 100px;
  background-color: rgb(245, 230, 99);
  border: 1px solid rgba(136, 136, 136, 0.5);
  border-radius: 5%;
  touch-action: none;


    float: left;
    clear: none; 

}
#container:active {
  background-color: rgba(168, 218, 220, 1);
}
#container:hover {
  cursor: pointer;
  border-width: 5px;
}

